body {
    font-family: sans-serif;
    margin: 5em 20px 1em 20px;
}
a {
    text-decoration: none;
    color: #126296;
}
a:hover {
    text-decoration: underline;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #999999;
    padding: 1.2em 20px 1.2em 66px;
    background: #024c7d url(/images/neo4j.png) no-repeat 20px 50%;
}
nav a {
    color: #CCCCCC;
}
nav strong {
    color: #FFFFFF;
}
blockquote {
    background-color: #DDDDDD;
    padding: 1em;
    font-family: serif;
    font-style: italic;
    color: #333333;
}

